.header-img{
    position: relative;
}
.header-img h1{
    position: absolute;
   text-align: center;
    width: 60%;
    top: 50%;
    left: 20%;
    font-size: 5em;
    color: #000;
    padding: 0.45em;
    border-radius: 0.45em;
    background-color: yellow;
    
}

.header-img img{
    object-fit:cover;
    object-position: 0 0.2px;
    height: 75vh;
    width: 100%;
}