.label input{
   display: block;
   border: none;
   margin-bottom: 1em;
   width: 80%;
   border-radius: 0.45em;
   padding-left: 1em;
}
.label{
    color: white;
}
.label h2{
margin: 0 0 0.25em 0;
font-size: 1.5em;
}
