.formulario_campo{
    background-color: #f2f2f2;
    margin-top: 3em;
    border-radius: 2em;
    padding: 1em 3em;
    display: block;
    width: 100%;
    margin-left:8em ;
    margin-right:8em ;
}
.campo-secao{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content:center;
}