.container-times{
    text-align: center;
    padding: 2em;
   
}
.container-times h3{
    font-size: 2em;
    border-bottom: 0.2em solid black;
    display: inline-block;
}
.div-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}