.container {
    background-color: rgb(206, 57, 57);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}